<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <form action="/fruits" method="post">
                        <fieldset>
                            <legend>Add a new animal</legend>
                            <label>
                                NAME:<input type="text" name="name" placeholder="enter animal name" />
                            </label>
                            <label>
                                LOCATION:<input type="text" name="location" placeholder="enter animal location" />
                            </label>
                            <label>
                                LIFE EXPECTANCY:<input type="text" name="life expectancy" placeholder="enter animal life expectancy" />
                            </label>
                            <label>
                                EXTINCT:<input type="checkbox" name="extinct" />
                            </label>
                        </fieldset>
                        <input type="submit" value="create new animal" />
                    </form>
                </div>
            </main>
    </body>

</html>